/**
* Variables
*/

// Colors
//...............
$primary-color: #112340;
$secondary-color: #7d8797;
//...............
$background-green: #41c1a6;
$background-grey: #f6f5fb;
$background-orange: #ffce5d;

// Fonts
//...............
$primary-font: "Asap", sans-serif;

// Fonts Weight
//...............
$font_regular: 400;
$font_medium: 500;
$font_smbold: 600;
$font_bold: 700;
